#landing-page {
    background-image: url(../images/background\ image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    background-color: transparent;
}
h1 {
    text-align: center;
}
.container2 {
    text-align: left;
    padding-left: 40px;
}